body {
    padding: 0;
    margin: 0
}

.contents .main {
    min-height: calc(100vh - 30px)
}

.contents .main .topLink {
    margin-left: 20px;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    color: #000;
    line-height: 18px
}

.contents .footer {
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    width: 100%;
    margin-top: 15px;
    vertical-align: middle;
    border-top: 1px dotted #000
}

.contents .footer a {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    color: #000;
    line-height: 18px;
    margin-left: 20px
}

.page {
    padding-left: 20px;
    margin-bottom: 80px
}

.page .ja {
    font-family: Sawarabi Gothic, sans-serif
}

.page .en {
    font-family: Open Sans, sans-serif
}

.page h2 {
    margin-top: 20px;
    margin-bottom: 5px
}

.page ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0
}

.page a {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
    color: #000;
    line-height: 18px
}

.page hr {
    text-align: left;
    margin-left: 0;
    width: 200px;
    border: 1px dotted #000
}

.page h3 {
    margin-bottom: 5px
}

.page p {
    margin-top: 0;
    margin-bottom: 3px
}

.page .profile {
    font-size: 10pt
}

.page .top_image {
    margin-top: 3px;
    max-width: 92%;
    border: 2px solid #000
}

.page .viewMore {
    font-size: 10pt;
    margin-left: 20px
}
